@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
a {
	color: rgb(40, 40, 40);
	text-decoration: none;
}
/* 
a:hover {
	border-bottom: 2px solid black;
} */
:root {
	font-family: 'Open Sans', sans-serif;
}

body {
	min-height: 100vh;
}
h1 {
	font-weight: 200;
	font-size: 2rem;
}
@keyframes clear {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation-fill-mode: backwards;
	animation: clear ease-in 500ms;
}

p {
	color: rgb(26, 26, 26);
}
